* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1E1E20;
  color: aliceblue;
  display: grid;
  place-items: center;
  height: 100vh;
}